/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define NAV 3
#define META 4


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ { 

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        
        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
        
        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };
        
        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };
        
        combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };
        
        combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
                
        default_layer {
            bindings = <
            &kp Q        &kp W       &kp F       &kp P      &trans                 &trans &kp L       &kp U       &kp Y       &kp J 
            &mt LCTRL A  &mt LGUI R  &mt LALT S  &kp T      &lt NAV G              &kp M  &mt RALT N  &mt RGUI E  &mt RALT I  &kp O
            &kp Z        &kp X       &kp C       &kp D      &trans                 &trans &kp H       &kp K       &kp B       &kp V
                                                 &mo LOWER  &mt LSHFT SPC          &kp RET  &mo RAISE
            >;
        };

        lower_layer {
            bindings = <
            &kp EXCL  &kp AT     &kp HASH  &kp DLLR  &trans                &trans    &kp AMPS   &kp STAR  &kp LPAR  &kp RPAR 
            &kp ESC   &kp QMARK  &kp LT    &kp GT    &kp PRCNT             &kp CRRT  &kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC
            &kp CAPS  &kp TILDE  &trans    &trans    &trans                &trans    &kp COLON  &trans    &kp PIPE  &kp DQT
                                           &trans    &trans                &kp BSPC  &kp DEL
            >;
        };    

        raise_layer {
            bindings = <
            &kp N1    &kp N2     &kp N3     &kp N4    &trans            &trans     &kp N7     &kp N8  &kp N9    &kp N0
            &kp ESC   &kp SLASH  &kp COMMA  &kp DOT   &kp N5            &kp NUM_6  &kp MINUS  &kp EQ  &kp LBKT  &kp RBKT
            &kp CAPS  &kp GRAVE  &trans     &trans    &trans            &trans     &kp SEMI   &trans  &kp BSLH  &kp SQT
                                            &mo META  &kp SPC           &trans     &trans
            >;
        };

        navigation_layer {
            bindings = <
            &trans  &trans  &trans  &trans  &trans            &trans    &kp HOME  &kp PG_UP  &trans    &trans
            &trans  &trans  &trans  &trans  &trans            &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
            &trans  &trans  &trans  &trans  &trans            &trans    &kp END   &kp PG_DN  &kp TAB  &trans
                                    &trans  &trans            &trans    &trans
            >;
        };

        meta_layer {
            bindings = <
            &trans      &trans     &trans      &trans  &trans             &trans  &trans  &trans  &trans  &trans
            &trans      &trans     &trans      &trans  &trans             &trans  &trans  &trans  &trans  &trans 
            &bt BT_CLR  &bt BT_NXT &bt BT_PRV  &trans  &trans             &trans  &trans  &trans  &trans &trans   
                                               &trans  &trans             &trans  &trans 
            >;
        };    
    };
};
